@import url("https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&family=Domine:wght@500&family=Merriweather&family=Playfair+Display:wght@500&family=Roboto+Slab:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html{

  width: 1440px;
}
:root {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  user-select: none;
}
